# Ignorar arquivos e pastas de build do Android
**/build/
**/.cxx/
**/cmake/
**/generated/
**/android_gradle_build.json
**/android_gradle_build_mini.json

# Ignorar arquivos específicos de depuração e ninja
**/*.ninja
**/*.log
**/*.json
